################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CopilotSnapshots/68879133A3B47A45A79FA94C63662312/CD830853F25CB24497E2FA78E18115C5/2145FBBD71BBF1BF9263E3DFB03241C8
/.vs/CopilotSnapshots/68879133A3B47A45A79FA94C63662312/CD830853F25CB24497E2FA78E18115C5/7FFEBA5D9F1E2A2FC164723F0FF6BC33
/.vs/CopilotSnapshots/68879133A3B47A45A79FA94C63662312/CD830853F25CB24497E2FA78E18115C5/E531F04A9389961B28239ACAAA45C0D4
/.vs/CopilotSnapshots/68879133A3B47A45A79FA94C63662312/state.mpack
/.vs/RLDungeonGenerator/copilot-chat/134661d6/sessions/33918768-b4a3-457a-a79f-a94c63662312
/.vs/RLDungeonGenerator/CopilotIndices/17.14.1091.29919/CodeChunks.db-shm
/.vs/RLDungeonGenerator/CopilotIndices/17.14.1091.29919/CodeChunks.db-wal
/.vs/RLDungeonGenerator/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-shm
/.vs/RLDungeonGenerator/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-wal
/.vs/RLDungeonGenerator/FileContentIndex/17ca5ccf-2558-49ad-a3bb-00c69d0b734a.vsidx
/.vs/RLDungeonGenerator/FileContentIndex/1ea3a2f8-2dc7-46a3-8fb8-82e536a6f2ad.vsidx
/.vs/RLDungeonGenerator/FileContentIndex/58c1bd9e-85a8-4ec5-841d-f8bea90100a9.vsidx
/.vs/RLDungeonGenerator/FileContentIndex/a5f8e547-91b2-456b-9e06-febcdf817fe6.vsidx
/.vs/RLDungeonGenerator/FileContentIndex/e1155d6a-ee9f-4621-bcc2-3062d1ffb257.vsidx
/.vs/RLDungeonGenerator/v17/.wsuo
/.vs/RLDungeonGenerator/v17/DocumentLayout.backup.json
/.vs/RLDungeonGenerator/v17/DocumentLayout.json
/.vs/slnx.sqlite
