/.vs/*
/.vs/RLDungeonGenerator/FileContentIndex/a5f8e547-91b2-456b-9e06-febcdf817fe6.vsidx
/.vs/RLDungeonGenerator/FileContentIndex/e1155d6a-ee9f-4621-bcc2-3062d1ffb257.vsidx
/.vs/RLDungeonGenerator/v17/.wsuo
/.vs/RLDungeonGenerator/v17/DocumentLayout.json
/.vs/slnx.sqlite
